@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans&display=swap');

* {
  margin: 0;
  overflow-x: hidden;
}
 
h1 {
  font-family: 'Economica', 'Dosis';
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  color: #B56012;
  padding-top: 50px; 
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  body {
    color:#000;
  }
}

body {
  text-align: center;
  width: auto;
  font-family: 'Open Sans', 'Century Gothic', Helvetica;
  font-weight: 300;
  color: black;
  /*background-color: #333;*/
  height: 100%;
}

body a {
  text-decoration: none;
  color: #B56012;
}

nav {
  z-index: 1;
  background-color: #333;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  font-family: 'Economica';
  color: #eee;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #eee;
}

#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header {
  text-align: center;
  background-color: #333;
  height: 100px;
  width: 100vw;
}

header div {
  display: inline-block;
}

.content {
  padding-top: 10%;
}

#logo {
  width: 50px;
  margin: 0 30px;
  margin-top: 20px;
}

main {
  margin-top: 100px;
}

.flex {
  display: flex;
}

.footer {
  text-align: center;
  background-color: #333;
  color: lightgray;
  width: 100vw;
  padding: 50px;
}