@font-face {
  font-family: Warsaw Gothic;
  src: url("/WarsawGothic.otf") format("opentype");
}

.content {
  padding-top: 10%;
}

#title-banner {
  background-image: url(images/banner.jpg);
  width: 100vw;
}

#title-img {
  font-family: 'Warsaw Gothic';
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 7em;
}

.entry-text-container {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin-left: 20vw;
  margin-right: 5vw;
}

.entry-textbox {
  padding: 20px;
  font-family: 'Open Sans','Century Gothic', Helvetica;
  text-align: center;
  color: white;
  margin: 20px auto;
}

#description { 
  background-color: rgba(173, 97, 30, .7); 
  vertical-align: middle;
}

#learn-more { background-color: rgba(146, 173, 166, .7); }
#learn-more img { width: 100%;}

#join-us { background-color: rgba(146, 173, 166, .7); }
#join-us img { width: 100%;}

#images {
  margin-top: 5px;
  align-items: center;
  margin-right: 3cm;
  max-width: 50vw;
  display: inline-block;
}

#play {
  width: 160px;
  height: 160px;
  background-image: url(images/play.png);
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
  top: 160px;
}

#schedule-form {
  margin-top: 20px;
  width: 45vw;
  background-color: rgba(173,97,30,.9);
}